.dashboard {
    background-color: red;
    display: flex;
}

.AdminActiveLink {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

/* react quill */
.ql-editor h1,h2,h3,h4,h5,p,div,img  {
    text-align: right;
}

.logo {transition: all 0.2s;}
.logo:hover{
    padding: 4px;
    background-color: #595a5c63;
}










.form-addCourse {
    background-color: #3f51b50d;
    padding: 40px;
    box-shadow: 3px 7px 20px 3px #00000029;
    border-radius: 1rem;
    margin-bottom: 100px;
}
.form-addCourse ul{
    direction: rtl;
    text-align: right;
}

.upload-photo {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.getByIdAbout{margin-top: 40px;}
.getByIdAbout h1,h2,h3,h4,h5{
    color: #154875;
}
.getByIdAbout p{
    /* color: #5c5c5e; */
    color: #607d8b;
}